<ul class="nav nav-tabs">
  <li class="nav-item">
    <a routerLinkActive="activebutton" class="nav-link" [routerLink]="['/navigator']"
      [queryParams]='{tab: 0}'>Income</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="activebutton" class="nav-link" [routerLink]="['/navigator']"
      [queryParams]='{tab: 1}'>Outcome</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="activebutton" class="nav-link" [routerLink]="['/navigator']"
      [queryParams]='{tab: 2}'>Loans</a>
  </li>
  <li class="nav-item">
    <a routerLinkActive="activebutton" class="nav-link" [routerLink]="['/navigator']"
      [queryParams]='{tab: 3}'>Investments</a>
  </li>
</ul>

<app-tab></app-tab>