.table{
    width: 60%;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}
.table thead th {
    border-top: none;
}

@media (min-width: 1200px) { 
    .table{
        width:60%;
    }
 }